{% extends 'index/base.html' %}
{% load static %}

{% block cabecera %}
{% endblock cabecera %}

{% block contenido %}
<div class="row">
    <div class="col-12">
        <div class="card mb-3 mb-md-4">
            <div class="card-header">
                <h5 class="font-weight-semi-bold mb-0">Bicoin as a Fiat Currency (isn't) | Market Cap | {{now1}}</h5>
            </div>
            <div class="card-body pt-0">
                <div class="table-responsive-xl">
                    <table class="table text-nowrap mb-0">
                        <thead>
                            <tr>
                                <th class="font-weight-semi-bold border-top-0 py-2">Rank</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Currency</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Market Cap</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Price</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Circulating Supply</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Max Supply</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for idx,row in table_company.iterrows %}
                            {% if row.1 == 'BTC' %}
                            <tr>
                                <td class="py-3 bg-warning"><strong>{{ row.0 }}</strong></td>
                                <td class="py-3 bg-warning"><strong>{{ row.1 }}</strong></td>
                                <td class="py-3 bg-warning"><strong>{{ row.2 }}</strong></td>
                                <td class="py-3 bg-warning"><strong>{{ row.3 }}</strong></td>
                                <td class="py-3 bg-warning"><strong>{{ row.4 }}</strong></td>
                                <td class="py-3 bg-warning"><strong>{{ row.5 }}</strong></td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="py-3">{{ row.0 }}</td>
                                <td class="py-3">{{ row.1 }}</td>
                                <td class="py-3">{{ row.2 }}</td>
                                <td class="py-3">{{ row.3 }}</td>
                                <td class="py-3">{{ row.4 }}</td>
                                <td class="py-3">{{ row.5 }}</td>
                            </tr>
                            {% endif %}
                            {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}

{% block scripts %}
{% endblock scripts %}