{% extends 'index/base.html' %}
{% load static %}

{% block cabecera %}
{% endblock cabecera %}

{% block contenido %}
<div class="row">
	<div class="col-md-6 col-xl-4 mb-3 mb-md-4">
		<!-- Card -->
		<div class="card h-100">
			<div class="card-header d-flex">
				<h5 class="h6 font-weight-semi-bold text-uppercase mb-0">Bitcoin Price (24h)</h5>
			</div>
			<div class="card-body p-0">
				<div class="media align-items-center px-3 px-md-4 mb-3 mb-md-4">
					<div class="media-body">
						<h4 class="h3 lh-1 mb-2">${{ last_price_bitcoin }}</h4>
						<p class="small text-muted mb-0">
							{{symbol_price_bitcoin}}$ {{var_price_bitcoin_abs}} <span
								class="text-success mx-1">+{{var_price_bitcoin_percentage}}%</span> Last
							24 hours
						</p>
					</div>
				</div>

				<div class="js-area-chart chart--points-invisible chart--labels-hidden position-relative" data-series='[
									[
										{{ data_chart_price_bitcoin|safe }}
									]
								  ]' data-height="115" data-high="{{max_btc}}" data-low="{{min_btc}}" data-chart-padding='{"top": 5}'
					data-is-hide-area="true" data-line-colors='["#8069f2"]' data-line-dasharrays='[0,0]'
					data-line-width='["2px","2px"]' data-is-line-smooth='[false]' data-fill-opacity="1"
					data-fill-colors='["#8069f2"]' data-stroke-dash-array-axis-y="4" data-is-show-tooltips="true"
					data-tooltip-custom-class="chart-tooltip chart-tooltip--sections-blocked chart-tooltip__meta--text-muted small text-white text-nowrap p-2"
					data-tooltip-currency="$ " data-is-show-points="true"
					data-point-custom-class='chart__point--donut chart__point--border-xs border-primary rounded-circle'
					data-point-dimensions='{"width":15,"height":15}'></div>
			</div>
		</div>
		<!-- End Card -->
	</div>
	<div class="col-md-6 col-xl-4 mb-3 mb-md-4">
		<!-- Card -->
		<div class="card h-100">
			<div class="card-header d-flex">
				<h5 class="h6 font-weight-semi-bold text-uppercase mb-0">Bitcoin Market Cap (24h)</h5>
			</div>
			<div class="card-body p-0">
				<div class="media align-items-center px-3 px-md-4 mb-3 mb-md-4">
					<div class="media-body">
						<h4 class="h3 lh-1 mb-2">${{ last_marketcap_bitcoin }} B</h4>
						<p class="small text-muted mb-0">
							{{symbol_marketcap_bitcoin}}$ {{var_marketcap_bitcoin_abs}} B<span
								class="text-success mx-1">+{{var_marketcap_bitcoin_percentage}}%</span>
							Last
							24 hours
						</p>
					</div>
				</div>

				<div class="js-area-chart chart--points-invisible chart--labels-hidden position-relative" data-series='[
									[
										{{ data_chart_marketcap_bitcoin|safe }}
									]
								  ]' data-height="115" data-high="{{max_btc_marketcap}}" data-low="{{min_btc_marketcap}}"
					data-chart-padding='{"top": 5}' data-is-hide-area="true" data-line-colors='["#8069f2"]'
					data-line-dasharrays='[0,0]' data-line-width='["2px","2px"]' data-is-line-smooth='[false]'
					data-fill-opacity="1" data-fill-colors='["#8069f2"]' data-stroke-dash-array-axis-y="4"
					data-is-show-tooltips="true"
					data-tooltip-custom-class="chart-tooltip chart-tooltip--sections-blocked chart-tooltip__meta--text-muted small text-white text-nowrap p-2"
					data-tooltip-currency="$ " data-is-show-points="true"
					data-point-custom-class='chart__point--donut chart__point--border-xs border-primary rounded-circle'
					data-point-dimensions='{"width":15,"height":15}'></div>
			</div>
		</div>
		<!-- End Card -->
	</div>
	<div class="col-md-6 col-xl-4 mb-3 mb-md-4">
		<!-- Card -->
		<div class="card h-100">
			<div class="card-header d-flex">
				<h5 class="h6 font-weight-semi-bold text-uppercase mb-0">Bitcoin Volume (24h)</h5>
			</div>
			<div class="card-body p-0">
				<div class="media align-items-center px-3 px-md-4 mb-3 mb-md-4">
					<div class="media-body">
						<h4 class="h3 lh-1 mb-2">${{ last_volume_bitcoin }} B</h4>
						<p class="small text-muted mb-0">
							{{symbol_volume_bitcoin}}$ {{var_volume_bitcoin_abs}} B<span
								class="text-success mx-1">+{{var_volume_bitcoin_percentage}}%</span>
							Last
							24 hours
						</p>
					</div>
				</div>

				<div class="js-area-chart chart--points-invisible chart--labels-hidden position-relative" data-series='[
									[
										{{ data_chart_volume_bitcoin|safe }}
									]
								  ]' data-height="115" data-high="{{max_btc_volume}}" data-low="{{min_btc_volume}}"
					data-chart-padding='{"top": 5}' data-is-hide-area="true" data-line-colors='["#8069f2"]'
					data-line-dasharrays='[0,0]' data-line-width='["2px","2px"]' data-is-line-smooth='[false]'
					data-fill-opacity="1" data-fill-colors='["#8069f2"]' data-stroke-dash-array-axis-y="4"
					data-is-show-tooltips="true"
					data-tooltip-custom-class="chart-tooltip chart-tooltip--sections-blocked chart-tooltip__meta--text-muted small text-white text-nowrap p-2"
					data-tooltip-currency="$ " data-is-show-points="true"
					data-point-custom-class='chart__point--donut chart__point--border-xs border-primary rounded-circle'
					data-point-dimensions='{"width":15,"height":15}'></div>
			</div>
		</div>
		<!-- End Card -->
	</div>
	<div class="col-md-6 col-xl-4 mb-3 mb-xl-4">
		<!-- Widget -->
		<div class="card flex-row align-items-center p-3 p-md-4">
			<div class="icon icon-lg bg-soft-warning rounded-circle mr-3">
				<i class="gd-money icon-text d-inline-block text-warning"></i>
			</div>
			<div>
				<h4 class="lh-1 mb-1">{{var_year_ago_abs}}%</h4>
				<h6 class="mb-0">P. (1y):${{year_price}}</h6>
			</div>
			{% if symbol_var_price_year_ago %}
			<i class="gd-arrow-up icon-text d-flex text-success ml-auto"></i>
			{% else %}
			<i class="gd-arrow-down icon-text d-flex text-danger ml-auto"></i>
			{% endif %}
		</div>
		<!-- End Widget -->
	</div>
	<div class="col-md-6 col-xl-4 mb-3 mb-xl-4">
		<!-- Widget -->
		<div class="card flex-row align-items-center p-3 p-md-4">
			<div class="icon icon-lg bg-soft-primary rounded-circle mr-3">
				<i class="gd-bar-chart icon-text d-inline-block text-primary"></i>
			</div>
			<div>
				<h4 class="lh-1 mb-1">{{var_year_ago_marketcap_abs}}%</h4>
				<h6 class="mb-0">M.C. (1y):${{year_marketcap}} B</h6>
			</div>
			{% if symbol_var_markecap_year_ago %}
			<i class="gd-arrow-up icon-text d-flex text-success ml-auto"></i>
			{% else %}
			<i class="gd-arrow-down icon-text d-flex text-danger ml-auto"></i>
			{% endif %}
		</div>
		<!-- End Widget -->
	</div>
	<div class="col-md-6 col-xl-4 mb-3 mb-xl-4">
		<!-- Widget -->
		<div class="card flex-row align-items-center p-3 p-md-4">
			<div class="icon icon-lg bg-soft-secondary rounded-circle mr-3">
				<i class="gd-wallet icon-text d-inline-block text-secondary"></i>
			</div>
			<div>
				<h4 class="lh-1 mb-1">{{var_year_ago_volume_abs}}%</h4>
				<h6 class="mb-0">V. (1y):${{year_volume}} B</h6>
			</div>
			{% if symbol_var_volume_year_ago %}
			<i class="gd-arrow-up icon-text d-flex text-success ml-auto"></i>
			{% else %}
			<i class="gd-arrow-down icon-text d-flex text-danger ml-auto"></i>
			{% endif %}
		</div>
		<!-- End Widget -->
	</div>
</div>
{% endblock contenido %}

{% block scripts %}
{% endblock scripts %}